*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(131, 14, 49);
}
.heading{
    background: url(images/jen5.png);
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.heading-content{
    /* width: 400px; */
    background-color: rgb(37, 147, 151);
    opacity: 0.5;
    color: white;
    /* background-color: rgba(255, 255, 255,0.6); */
}
.pizza-order h2::after{
    height: 30px;
    width: 20px;
    position: absolute;
    background-color: blue;
}
.pizza-order h2{
    border:  3px solid navy;
}
footer{
    background-color: rgb(31, 186, 197);
}
.lower-section{
    background-color: rgb(218, 49, 49);
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}